@charset "utf-8";
@import url(../aos.css);
#indexbanner video{width:100%}
.home-banner .swiper-slide{overflow:hidden}
.home-banner .swiper-slide>a{position:relative;display:flex}
.home-banner .swiper-slide>a::after{content:"";position:absolute;left:0px;top:0px;width:100%;height:100%;background:linear-gradient(to right,rgba(0,0,0,.9),rgba(0,0,0,.6))}
.home-banner .swiper-slide img{width:100%;height:100%;object-fit:cover}
.home-banner .pcimg{display:block}
.home-banner .mobimg{display:none}
.home-banner .banner-animote{max-width:1000px;padding:0px 10px;position:absolute;top:45%;left:50%;transform:translate(-50%,-50%);width:100%;color:#FFFFFF;opacity:0;text-align:center}
.home-banner .banner-animote .p1{font-size:var(--fontsize45);font-weight:var(--fontbold5);line-height:1.4;margin:10px 0px 20px}
.home-banner .banner-animote .p2{font-size:var(--fontsize20);margin-bottom:30px}
.home-banner .banner-animote .p3 a{border:1px solid #FFFFFF;background:0 0;color:#FFFFFF}
.home-banner .banner-animote .p3 a:hover{border-color:var(--color);background:var(--color)}
@media(min-width:1025px){.home-banner .swiper-slide-active img{animation:bannerimg 6s forwards}}
.home-banner .swiper-slide-active .banner-animote{animation:bannerani .5s forwards;animation-delay:.7s}
.home-banner .swiper-pagination{bottom:160px;max-width:1400px;padding:0px 70px;left:50%;transform:translateX(-50%);display:flex;align-items:center;justify-content:center}
.home-banner .swiper-pagination-bullet{background:var(--color)}
.home-banner .bannerswiper-next,.home-banner .bannerswiper-prev{position:absolute;top:45%;width:46px;height:46px;display:flex;align-items:center;justify-content:center;background:0 0;background:rgba(255,255,255,.1);color:#FFFFFF;z-index:1;cursor:pointer;transition:all .15s linear;border-radius:50%}
.home-banner .bannerswiper-next:hover,.home-banner .bannerswiper-prev:hover{background:var(--color)}
.home-banner .bannerswiper-next em,.home-banner .bannerswiper-prev em{font-size:24px}
.home-banner .bannerswiper-prev{left:25px}
.home-banner .bannerswiper-next{right:25px}
@keyframes bannerani{0%{margin-top:20px}100%{opacity:1;margin-top:0px}}
@keyframes bannerimg{0%{transform:scale(1)}80%{transform:scale(1.05)}100%{transform:scale(1.047)}}
.swiper-pagination-bullet{width:16px;height:16px}
.home-num{margin-top:-130px;z-index:1;position:relative}
.home-num .list{background:rgba(0,0,0,.3);display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;list-style:none;height:130px}
.home-num .list li{width:20%;height:100%;line-height:1;color:#FFFFFF;padding:20px 10px;opacity:.8;transition:all .2s linear;display:flex;flex-direction:column;align-items:center;justify-content:center}
.home-num .list li em{font-size:var(--fontsize40);display:inline-block;transition:transform .2s linear}
.home-num .list li p{margin-top:1em}
.home-num .list li span{font-size:20px}
.home-num .list li:hover{opacity:1;color:var(--color)}
.home-num .list li:hover em{transform:translateY(-6px)}
.home-about,.home-advantages,.home-customer,.home-logo,.home-news,.home-pro,.home-services,.home-videos{position:relative;padding:4% 0}
.home-about{padding-bottom:0px}
.home-about .l-wrap{display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between}
.home-about .aboutimg{width:50%;padding-right:30px;display:flex;justify-content:flex-start;align-items:center}
.home-about .aboutinfo{flex:1}
.home-about .aboutinfo h1{font-weight:var(--fontbold6);font-size:var(--hometitlefont);line-height:1.4;margin-bottom:10px}
.home-about .aboutinfo .text p{margin-bottom:10px}
.home-about .aboutinfo .list{display:flex;flex-wrap:wrap;align-items:center;margin-top:20px}
.home-about .aboutinfo .list li{display:flex;align-items:center;width:40%;margin-bottom:5px}
.home-about .aboutinfo .list li em{color:var(--color);margin-right:10px}
.home-about .aboutinfo .list li span{font-weight:var(--fontbold6);line-height:1}
.home-about .aboutinfo .aboutmeta{display:flex;align-items:center;margin-top:20px}
.home-about .aboutinfo .aboutmeta .home-more{margin-right:20px}
.home-about .aboutinfo .aboutmeta .tel{display:flex;align-items:center;line-height:1.4}
.home-about .aboutinfo .aboutmeta .tel em{background-color:var(--color);width:40px;height:40px;display:inline-flex;align-items:center;justify-content:center;border-radius:50%;font-size:var(--fontsize22);color:#FFFFFF;position:relative;margin-right:14px}
.home-about .aboutinfo .aboutmeta .tel em::after{content:"";position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:100%;height:100%;border:1px solid var(--color);border-radius:50%;animation:aboutanimate 2s linear infinite}
.home-about .aboutinfo .aboutmeta .tel .p2{font-weight:var(--fontbold6);font-size:var(--fontsize18)}
@keyframes aboutanimate{0%{opacity:1;width:100%;height:100%}50%{opacity:1;width:calc(100% + 5px);height:calc(100% + 5px)}100%{opacity:0;width:calc(100% + 10px);height:calc(100% + 10px)}}
.home-pro{padding-bottom:0px}
.home-pro .list{display:flex;flex-wrap:wrap;justify-content:space-between;margin-top:30px}
.home-pro .list li{width:50%;display:flex}
.home-pro .list li .img{width:50%}
.home-pro .list li .img img{width:100%;height:100%;object-fit:cover}
.home-pro .list li .info{flex:1;display:flex;flex-direction:column;justify-content:center;align-items:flex-start;padding:20px;background:#F7F7F7;position:relative;transition:all .2s linear}
.home-pro .list li .info::before{content:"";position:absolute;left:-13px;top:50%;transform:translateY(-50%);width:0px;height:0px;border-style:solid;border-width:10px 15px 10px 0px;border-color:transparent #F7F7F7 transparent transparent;transition:all .2s linear}
.home-pro .list li .info .title{font-size:var(--fontsize20);font-weight:var(--fontbold6);line-height:1.4;transition:none}
.home-pro .list li .info .text{margin:15px 0px}
.home-pro .list li .info .more{background:var(--color);color:#FFFFFF;border-radius:30px;padding:0px 15px;min-width:120px;height:40px;display:inline-flex;align-items:center;justify-content:center;transition:all .2s linear}
.home-pro .list li:hover .img img{transform:scale(1.02)}
.home-pro .list li:hover .info{background:var(--color);color:#FFFFFF}
.home-pro .list li:hover .info::before{border-color:transparent var(--color) transparent transparent}
.home-pro .list li:hover .info .more{background:#FFFFFF;color:var(--fontcolor)}
.home-pro .list li:nth-child(4n+3),.home-pro .list li:nth-child(4n+4){flex-direction:row-reverse}
.home-pro .list li:nth-child(4n+3) .info::before,.home-pro .list li:nth-child(4n+4) .info::before{left:auto;right:-13px;border-width:10px 0px 10px 15px;border-color:transparent transparent transparent #F7F7F7}
.home-pro .list li:nth-child(4n+3):hover .info::before,.home-pro .list li:nth-child(4n+4):hover .info::before{border-color:transparent transparent transparent var(--color)}
.home-pro .homepro-more{display:flex;align-items:center;justify-content:center;margin-top:40px}
#serviceswiper{margin-top:40px}
#serviceswiper .swiper-slide{position:relative;aspect-ratio:1/1;border-radius:10px;overflow:hidden}
#serviceswiper .swiper-slide img{width:100%;height:100%;object-fit:cover}
#serviceswiper .swiper-slide .opacity{position:absolute;top:0px;left:0px;width:100%;height:100%;background:rgba(0,0,0,.5);display:flex;flex-direction:column;align-items:flex-start;justify-content:center;color:#FFFFFF;transition:all .2s linear;padding:20px;opacity:0}
#serviceswiper .swiper-slide .opacity .p1{font-size:var(--fontsize20);position:relative;padding-bottom:10px;margin-bottom:10px}
#serviceswiper .swiper-slide .opacity .p1::after{content:"";position:absolute;left:0px;bottom:0px;width:60px;height:4px;background:var(--color)}
#serviceswiper .swiper-slide:hover .opacity{opacity:1}
#serviceswiper .serviceswiper-pagination{text-align:center;margin-top:20px}
#serviceswiper .serviceswiper-pagination .swiper-pagination-bullet{background:#111111;opacity:1}
#serviceswiper .serviceswiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background:var(--color)}
#serviceswiper .serviceswiper-next,#serviceswiper .serviceswiper-prev{position:absolute;top:calc(50% - 20px);transform:translateY(-50%);z-index:1;display:flex;align-items:center;justify-content:center;border-radius:50%;width:45px;height:45px;cursor:pointer;transition:all .2s linear;background:rgba(255,255,255,.2)}
#serviceswiper .serviceswiper-next em,#serviceswiper .serviceswiper-prev em{font-size:var(--fontsize24);color:#FFFFFF}
#serviceswiper .serviceswiper-prev{left:10px}
#serviceswiper .serviceswiper-next{right:10px}
.home-advantages{background:no-repeat center fixed;background-size:cover;z-index:1;color:#FFFFFF}
.home-advantages::before{content:"";position:absolute;left:0px;top:0px;width:100%;height:100%;background:rgba(0,0,0,.8);z-index:-1}
.home-advantages .home-des{color:#FFFFFF}
#advantageswiper{padding-top:40px}
#advantageswiper .swiper-slide{width:24%;height:auto;border-radius:6px;border:2px solid rgba(245,245,245,.3);padding:30px 20px;text-align:center;transition:all .2s linear}
#advantageswiper .swiper-slide:hover{transform:translateY(-5px);border-color:var(--color)}
#advantageswiper .swiper-slide:hover em{transform:rotateY(180deg)}
#advantageswiper .swiper-slide em{color:var(--color);font-size:var(--fontsize40);display:inline-block;transition:all .2s linear}
#advantageswiper .swiper-slide .p1{position:relative;font-size:var(--fontsize20);padding-bottom:10px;margin:10px 0px 10px}
#advantageswiper .swiper-slide .p1::after{content:"";position:absolute;bottom:0px;left:50%;transform:translateX(-50%);width:40px;height:3px;background:var(--color)}
#advantageswiper .swiper-slide .p2{padding-bottom:20px}
#advantageswiper .advantageswiper-pagination{text-align:center;margin-top:30px}
#advantageswiper .advantageswiper-pagination .swiper-pagination-bullet{background:rgba(255,255,255,.2);opacity:1}
#advantageswiper .advantageswiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background:var(--color)}
.home-logo{background:#F4F4F4;padding-bottom:240px}
#logoswiper{margin-top:40px}
#logoswiper .swiper-wrapper{transition-timing-function:linear!important;margin:0px auto;align-items:center}
#logoswiper .logoswiper-pagination{text-align:center;margin-top:30px;display:none}
#logoswiper .logoswiper-pagination .swiper-pagination-bullet{background:#111111;opacity:1}
#logoswiper .logoswiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background:var(--color)}
.home-boxshaw{margin-top:-150px;z-index:1;position:relative}
.home-boxshaw .box{background:var(--color);text-align:center;padding:4% 30px;border-radius:10px;color:#FFFFFF}
.home-boxshaw .box .p1{font-size:var(--fontsize34);margin-bottom:20px;line-height:1.4;font-weight:var(--fontbold6)}
.home-boxshaw .box .p2{font-size:var(--fontsize20);margin-bottom:1em}
.home-boxshaw .box .home-more{border-color:#FFFFFF;color:#FFFFFF}
.home-boxshaw .box .home-more:hover{background:#FFFFFF;color:var(--color)}
#customerswiper .customerswiper-pagination{text-align:center;margin-top:30px}
#customerswiper .customerswiper-pagination .swiper-pagination-bullet{background:#111111;opacity:1}
#customerswiper .customerswiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background:var(--color)}
#customerswiper .swiper-slide{text-align:center}
#customerswiper .swiper-slide .home-title{margin-bottom:20px}
#customerswiper .swiper-slide .author{margin-top:30px;display:inline-flex;justify-content:center;align-items:center;font-size:var(--fontsize18);font-weight:var(--fontbold6)}
#customerswiper .swiper-slide .author img{margin-right:10px;width:45px;height:45px;border-radius:50%;object-fit:cover}
.home-videos{padding-top:0px}
#videoswiper{margin-top:30px}
#videoswiper .videoswiper-pagination{text-align:center;margin-top:30px}
#videoswiper .videoswiper-pagination .swiper-pagination-bullet{background:#111111;opacity:1}
#videoswiper .videoswiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background:var(--color)}
#videoswiper .swiper-slide{background:#F7F7F7;transition:all .2s linear;border-radius:10px;overflow:hidden}
#videoswiper .swiper-slide:hover{background:var(--color);color:#FFFFFF}
#videoswiper .swiper-slide .video{width:100%;aspect-ratio:3/2}
#videoswiper .swiper-slide .video iframe,#videoswiper .swiper-slide .video img,#videoswiper .swiper-slide .video video{width:100%;height:100%;object-fit:cover}
#videoswiper .swiper-slide p{margin:15px 20px;font-size:var(--fontsize18);line-height:1.4}
.home-news{background:#F7F7F7}
.home-news .list{display:flex;flex-wrap:wrap;list-style:none;margin-top:30px}
#newswiper{margin-top:30px}
#newswiper .newswiper-pagination{text-align:center;margin-top:30px}
#newswiper .newswiper-pagination .swiper-pagination-bullet{background:#111111;opacity:1}
#newswiper .newswiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background:var(--color)}
#newswiper .swiper-slide{background:#FFFFFF;border-radius:10px;overflow:hidden;transition:all .2s linear}
#newswiper .swiper-slide:hover{background:var(--color);color:#FFFFFF}
#newswiper .swiper-slide:hover .img img{transform:scale(1.02)}
#newswiper .swiper-slide:hover .info .date{color:#FFFFFF}
#newswiper .swiper-slide .img{width:100%;aspect-ratio:var(--newssaspectratio)}
#newswiper .swiper-slide .img img{width:100%;height:100%;object-fit:cover}
#newswiper .swiper-slide .info{padding:20px}
#newswiper .swiper-slide .info .date{margin:5px 0px;font-size:var(--fontsize14);color:var(--introcolor)}
#newswiper .swiper-slide .info .date em{margin-right:5px}
#newswiper .swiper-slide .info .title{font-size:var(--fontsize18);line-height:1.4;transition:none}
@media (max-width:1366px){
.home-banner .banner-animote{top:50%}
.home-banner .swiper-pagination{bottom:20px}
.home-num{margin-top:0px}
.home-num .list{background:#000000}
.home-about .aboutinfo .list li{width:50%}}
@media (max-width:1024px){
.home-banner .banner-animote .p1{font-size:var(--fontsize40)}
.home-num .list{height:auto}
.home-num .list li{width:33%}
.home-num .l-wrap{padding:0px}
.home-pro .list li{width:100%;flex-direction:row!important}
.home-pro .list li:nth-child(2n+1) .info::before{border-width:10px 15px 10px 0 !important;border-color:transparent #F7F7F7 transparent transparent;right:auto;left:-13px}
.home-pro .list li:nth-child(2n+1):hover .info::before{border-color:transparent var(--color) transparent transparent}
.home-pro .list li:nth-child(2n){flex-direction:row-reverse!important}
.home-pro .list li:nth-child(2n) .info::before{left:auto;right:-13px;border-width:10px 0px 10px 15px !important;border-color:transparent transparent transparent #F7F7F7}
.home-pro .list li:nth-child(2n):hover .info::before{border-color:transparent transparent transparent var(--color)}}
@media (max-width:768px){
.home-about,.home-advantages,.home-customer,.home-logo,.home-news,.home-pro,.home-services,.home-videos{padding:30px 0px}
.home-num .list li{width:50%}
.home-banner{height:300px}
.home-banner .pcimg{display:none}
.home-banner .mobimg{display:block}
.home-banner .swiper{height:100%}
.home-banner .swiper-slide a{height:100%}
.home-banner .banner-animote .p1{font-size:var(--fontsize22);margin-bottom:10px}
.home-banner .banner-animote .p2{margin-bottom:10px;font-size:var(--fontsize16)}
.home-banner .banner-animote .p3{display:none}
.home-banner .bannerswiper-next,.home-banner .bannerswiper-prev{display:none}
.home-about .l-wrap{display:block}
.home-about .aboutimg{width:100%;padding:0 5%}
.home-about .aboutinfo{margin-top:20px}
.home-banner .swiper-pagination{bottom:10px}
.home-about .aboutinfo .list li{width:100%}
.home-about .aboutinfo .aboutmeta .home-more{margin:0px 0px 10px 0px}
.home-about .aboutinfo .aboutmeta{display:block}
.home-pro .list{margin-top:20px}
.home-pro .list li .info{padding:20px 10px}
.home-pro .list li .info .text{margin-bottom:0px}
.home-pro .list li .info .more{display:none}
#serviceswiper .serviceswiper-next,#serviceswiper .serviceswiper-prev{display:none}
#serviceswiper{margin-top:20px}
#serviceswiper .swiper-slide .opacity{opacity:1}
#advantageswiper .swiper-slide{padding:10px}
#advantageswiper .swiper-slide .p1{margin:0px 0px 10px 0px}
#newswiper{margin-top:20px}
#videoswiper{margin-top:20px}
.home-boxshaw{margin-top:20px}
.home-boxshaw .box{padding:30px 10px}
.home-boxshaw .box .p1{font-size:var(--fontsize24)}
.home-boxshaw .box .p2{font-size:var(--fontsize16)}}