@charset "utf-8";
@import url(../message.css);
.banner-inner{background:#333333;position:relative}
.pagesbanner{position:relative;z-index:1;min-height:240px}
.pagesbanner::after{content:"";position:absolute;left:0px;top:0px;width:100%;height:100%;background:rgba(0,0,0,.6);z-index:-1}
.pagesbanner>a{z-index:1;position:relative;display:block}
.pagesbanner img,.pagesbanner video{width:100%;height:100%;min-height:240px;object-fit:cover}
.pagesbanner .pagesbanner-animate{width:100%;padding:0px 20px;z-index:1;position:absolute;top:60%;left:50%;transform:translate(-50%,-50%);color:#f3f3f3;text-align:center;margin-top:20px;opacity:0;animation:pagesbanner 1s .5s forwards}
.pagesbanner .pagesbanner-animate .p1{font-size:var(--fontsize30);font-weight:var(--fontbold5,500);line-height:1.2}
.pagesbanner .pagesbanner-animate .p2{margin-top:20px;font-size:var(--fontsize18);font-weight:var(--fontbold4,400)}
.pagesbanner .pagesbanner-animate .p3{margin-top:10px}
.pagesbanner .pagesbanner-animate .p3 a{color:var(--color);text-decoration:underline;font-weight:var(--fontbold6)}
.pagesbanner .pagesbanner-animate .p3 a:hover{transform:translateY(2px)}
@keyframes pagesbanner{0%{margin-top:20px;opacity:0}100%{margin-top:0px;opacity:1}}
@media (max-width:1024px){
.pagesbanner .pagesbanner-animate .p1{font-size:var(--fontsize26)}
.pagesbanner .pagesbanner-animate .p2{margin-top:10px;font-size:var(--fontsize16)}}
@media (max-width:768px){
.pagesbanner .pagesbanner-animate .p1{font-size:var(--fontsize20)}
.pagesbanner .pagesbanner-animate .p2{font-size:var(--fontsize14)}}
.banner-inner .banner-content{background:#FFFFFF;height:55px;font-weight:var(--fontbold5);font-size:var(--fontsize14);border-bottom:1px solid #E5E5E5}
.banner-inner .banner-title-h1{font-size:var(--fontsize20);font-weight:var(--fontbold6);text-transform:capitalize;margin:0px;display:flex;align-items:center}
.banner-inner .banner-title-h1 h1{font-size:inherit}
.singlepage-nav{margin-left:10px;position:relative;width:50px;z-index:9}
.singlepage-nav em{color:var(--color)}
.singlepage-nav ul{position:absolute;top:100%;left:0px;transform-origin:top;transform:scaleY(0);opacity:0;background:#FFFFFF;box-shadow:1px 2px 10px rgba(0, 0, 0, .1);list-style:none}
.singlepage-nav ul a{font-size:16px;font-weight:400;padding:6px 10px;display:inline-block;color:var(--fontcolor)}
.singlepage-nav ul li.LocalCurrent a{color:var(--color)}
.singlepage-nav:hover ul{transform:scaleY(1);opacity:1}
.banner-inner .banner-content .l-wrap{height:100%;display:flex;align-items:center;justify-content:space-between}
.pagetitle-h1{font-weight:var(--fontbold5);text-transform:capitalize;color:var(--fontcolor);font-size:var(--fontsize28)}
.banner-inner .banner-breadcrumbs{position:relative;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;overflow:hidden;color:var(--introcolor)}
.banner-inner .banner-breadcrumbs h1{font-size:inherit;display:inline;font-weight:inherit}
.banner-inner .banner-breadcrumbs em{margin-right:5px}
.banner-inner a:hover{color:var(--color)}
article{font-size:var(--fontsize16);line-height:1.8;color:var(--fontcolor)}
article a{color:var(--color)}
article a:hover{text-decoration:underline}
.table-wrap{overflow-x:auto;width:100%}
.table-wrap table{border-collapse:collapse}
.table-wrap table td,.table-wrap table th{border:1px solid #DDDDDD;padding:8px 16px}
.page-main{padding:50px 0px}
h4.cate-h4,h4.pro-h4{clear:both;font-weight:var(--fontbold6)}
ul.cate-ulli,ul.pro-ulli{clear:both;padding:10px 0px 10px 20px}
ul.cate-ulli li,ul.pro-ulli li{list-style-type:disc;line-height:1.7}
ol.cate-ulli,ol.pro-ulli{clear:both;padding:10px 0px 10px 30px}
ol.cate-ulli li,ol.pro-ulli li{list-style-type:decimal;line-height:1.7}

.ck-widget-toc{display:table;border:1px solid #A2A9B1;background-color:#F8F9FA;padding:10px 20px 10px 10px;font-size:95%;margin:15px 0px;min-width:300px;max-width:100%}
.ck-widget-toc ol{padding:0px 0px 0px 20px;counter-reset:item}
.ck-widget-toc ol li{display:block;position:relative;list-style:none}
.ck-widget-toc ol li:before{content:counters(item, ".");counter-increment:item;position:absolute;margin-right:100%;right:.5rem}
.ck-widget-toc-title{text-align:left;font-weight:700;margin:0px;margin-bottom:5px;padding:0px;padding-left:5px}
.ck-widget-pt{padding-top:100px;margin-top:-100px}
.ck-widget-toc1{display:table;border:1px solid #A2A9B1;background-color:#F8F9FA;padding:10px 20px 10px 10px;font-size:95%;margin:15px 0px;min-width:300px;max-width:100%}
.ck-widget-toc1 ol{padding:0px 0px 0px 20px;counter-reset:item}
.ck-widget-toc1 ol li{display:block;position:relative;list-style:none}
.ck-widget-toc1 ol li:before{content:counters(item, ".");counter-increment:item;position:absolute;margin-right:100%;right:.5rem}
article.blogcontent{clear:both;margin:0px auto 40px;padding:0px}
article.blogcontent h2{margin:20px 0px 0px 0px;font-size:24px;line-height:1.3}
article.blogcontent h3{margin:20px 0px 0px 0px;font-size:22px;line-height:1.3}
article.blogcontent h4{margin:20px 0px 0px 0px;font-size:20px;line-height:1.3}
article.blogcontent h5{margin:20px 0px 0px 0px;font-size:18px;line-height:1.3}
article.blogcontent img{margin:0px 0px 10px 0px;padding:0px;max-width:49%;margin-right:1%;border:solid 1px #EEEEEE;vertical-align:top}
article.blogcontent p{margin:0px 0px 10px 0px;padding:0px;line-height:1.6}
article.blogcontent p a{color:var(--color)}
article.blogcontent p a:hover{text-decoration:underline}
article.blogcontent ul{margin:0px;padding:5px 0px 0px 20px}
article.blogcontent ul li{margin:0px 0px 5px 0px;list-style-type:disc}
.newscontent-details ul{margin:0px;padding:5px 0px 0px 20px}
.newscontent-details ul li{margin:0px 0px 5px 0px;list-style-type:disc}
.wmkc-black{color:#111111!important}
.wmkc-border-black{border-color:#111111!important}
.wmkc-green{color:#2cb740!important}
.wmkc-border-green{border-color:#2cb740!important}
.wmkc-blue{color:#217fe1!important}
.wmkc-border-blue{border-color:#217fe1!important}
.wmkc-yellow{color:#fcb026!important}
.wmkc-border-yellow{border-color:#fcb026!important}
.wmkc-red{color:#ee2c2d!important}
.wmkc-border-red{border-color:#ee2c2d!important}
.wmkc-template-55>.wmkc-faq-list>.wmkc-faq-item{border:1px solid #DDDDDD;padding:10px;box-sizing:border-box;margin:10px auto;position:relative}
.wmkc-template-55>.wmkc-faq-list>.wmkc-faq-item>.wmkc-faq-tit>p{padding-right:40px;margin:0px;line-height:1.6;font-weight:700;font-size:var(--fontsize16);cursor:pointer;position:relative}
.wmkc-template-55>.wmkc-faq-list>.wmkc-faq-item>.wmkc-faq-tit>p::after,.wmkc-template-55>.wmkc-faq-list>.wmkc-faq-item>.wmkc-faq-tit>p::before{content:"";width:16px;height:2px;background-color:#131313;position:absolute;top:14px;right:12px}
.wmkc-template-55>.wmkc-faq-list>.wmkc-faq-item>.wmkc-faq-tit>p::after{transform:rotate(90deg)}
.wmkc-template-55>.wmkc-faq-list>.wmkc-faq-item>.wmkc-faq-tit.active>p::after{opacity:0}
.wmkc-template-55>.wmkc-faq-list>.wmkc-faq-item>.wmkc-faq-box{color:var(--introcolor);line-height:1.5;padding-top:6px}
.inquiry-prolist{margin:20px 0px}
.inquiry-prolist .inquiry-pro-item{display:flex;align-items:center;box-shadow:1px 2px 10px rgba(0,0,0,.1);padding:20px}
.inquiry-prolist .inquiry-pro-item:nth-child(n+2){margin-top:20px}
.inquiry-prolist .inquiry-pro-item .pro-item-img{width:160px}
.inquiry-prolist .inquiry-pro-item .pro-item-img img{border:1px solid #EEEEEE}
.inquiry-prolist .inquiry-pro-item .pro-item-name{flex:1;padding:0px 20px;color:var(--fontcolor)}
.inquiry-prolist .inquiry-pro-item .pro-item-name a{color:var(--color);font-size:var(--fontsize18);font-weight:var(--fontbold6)}
.inquiry-prolist .inquiry-pro-item .pro-item-del{background:var(--color);margin-right:30px;width:40px;height:40px;display:flex;align-items:center;justify-content:center;color:#FFFFFF;cursor:pointer;border-radius:var(--borderradius);transition:all .2s linear}
.inquiry-prolist .inquiry-pro-item .pro-item-del:hover{box-shadow:1px 2px 10px var(--color)}
@media (max-width:768px){.inquiry-prolist .inquiry-pro-item .pro-item-img{width:100px}
.inquiry-prolist .inquiry-pro-item .pro-item-name{padding:0px 10px}
.inquiry-prolist .inquiry-pro-item .pro-item-del{margin-right:0px}}
.pro-cate-title{font-weight:var(--fontbold6);color:var(--fontcolor);font-size:32px;margin:0px 0px 20px;line-height:1}
.pagenav-cate .pagenav-menu{display:none}
.page-nav .pagenav-catelist{list-style:none}
.page-nav .pagenav-catelist>li a{text-transform:capitalize;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;overflow:hidden}
@media (min-width:1025px){
.page-nav{background:#F7F7F7;padding:30px 0px}
.page-nav .pagenav-cate{width:100%}
.page-nav .pagenav-catelist{display:flex;flex-wrap:wrap}
.page-nav .pagenav-catelist>li{position:relative;width:19%;margin-right:1.2%;height:50px;display:inline-flex;align-items:center;justify-content:flex-start;background:#FFFFFF;border-radius:var(--borderradius);border:1px solid #f0f0f0;transition:all .1s linear}
.page-nav .pagenav-catelist>li:hover{border-color:var(--color)}
.page-nav .pagenav-catelist>li:nth-child(5n){margin-right:0px}
.page-nav .pagenav-catelist>li:nth-child(n+6){margin-top:1em}
.page-nav .pagenav-catelist>li.LocalCurrent,.page-nav .pagenav-catelist>li.active{background:var(--color)}
.page-nav .pagenav-catelist>li.LocalCurrent>a,.page-nav .pagenav-catelist>li.LocalCurrent>em,.page-nav .pagenav-catelist>li.active>a,.page-nav .pagenav-catelist>li.active>em{color:#FFFFFF}
.page-nav .pagenav-catelist>li em{margin-left:5px;font-weight:var(--fontbold6);font-size:var(--fontsize16);position:absolute;right:10px;top:50%;transform:translateY(-50%)}
.page-nav .pagenav-catelist>li a{font-size:var(--fontsize16);font-weight:var(--fontbold6);width:100%;height:100%;line-height:50px;padding:0px 20px}
.page-nav .pagenav-catelist>li ul{position:absolute;top:calc(100% + 2px);left:0px;list-style:none;background:#FFFFFF;box-shadow:1px 2px 10px rgba(0,0,0,.1);z-index:9;min-width:200px}
.page-nav .pagenav-catelist>li ul li{position:relative;display:inline-flex;align-items:center;justify-content:space-between;width:100%;height:50px;border-bottom:1px solid #f0f0f0}
.page-nav .pagenav-catelist>li ul li{padding-right:10px}
.page-nav .pagenav-catelist>li ul a{font-size:var(--fontsize16);display:flex;width:100%;height:100%;padding:8px 14px;white-space:nowrap;font-weight:var(--fontbold4)}
.page-nav .pagenav-catelist>li ul em{font-weight:var(--fontbold4)}
.page-nav .pagenav-catelist>li ul li:hover>a,.page-nav .pagenav-catelist>li ul li:hover>em{color:var(--color)}
.page-nav .pagenav-catelist>li ul{transform-origin:top;transform:scaleY(0);opacity:0;transition:all .3s ease-in-out}
.page-nav .pagenav-catelist>li:hover>ul{transform:scaleY(1);opacity:1}
.page-nav .pagenav-catelist>li ul li>ul{position:absolute;left:100%;top:0px;transform-origin:top;transform:scaleY(0);opacity:0;transition:all .3s ease-in-out}
.page-nav .pagenav-catelist>li ul li:hover>ul{transform:scaleY(1);opacity:1}}
.page-main .pro-list{display:flex;flex-wrap:wrap;list-style:none}
.pro-list li:hover a{color:var(--color)}
.pro-list li{background:#F7F7F7;margin-bottom:3em;border-radius:var(--borderradius);transition:all .2s linear}
.pro-list li .pro-img{width:100%;aspect-ratio:var(--prosaspectratio);background:#EEEEEE;position:relative;overflow:hidden}
.pro-list li .pro-img>a{position:relative;display:flex;align-items:center;justify-content:center;width:100%;height:100%}
.pro-list li .pro-img>a+.pro-meta .icon-videoplay{display:none}
.pro-list li .pro-img>a.lazy-loaded+.pro-meta .icon-videoplay{display:flex}
.pro-list li .pro-img>a::after{content:"";position:absolute;left:0px;top:0px;width:100%;height:100%;background:rgba(0,0,0,.4);opacity:0;transition:all .1s linear}
.pro-list li .pro-img img{width:100%;height:100%;object-fit:cover;transition:all .1s linear}
.pro-list li .pro-meta{position:absolute;top:15px;left:10px}
.pro-list li .pro-meta .icon,.pro-list li .pro-meta .icon-hottitle,.pro-list li .pro-meta .icon-videoplay{display:flex;align-items:center;justify-content:center;width:34px;height:34px;border:none;background:#000000;color:#FFFFFF;border-radius:50%;cursor:pointer;transition:all .1s linear;margin-bottom:6px}
.pro-list li .pro-meta .icon-hottitle{color:var(--color)}
.pro-list li .pro-meta .icon{opacity:0;transform:translateY(10px)}
.pro-list li .pro-meta .icon.pro-checked{transform:translateY(0);opacity:1;background:var(--color);color:#FFFFFF;box-shadow:0px 0px 8px 1px rgba(225,225,225,.48)}
.pro-list li:hover .pro-meta .icon{transform:translateY(0);opacity:1}
.pro-list li .pro-info{position:relative;display:flex;flex-direction:column;align-items:flex-start;line-height:1.6}
.pro-list li .pro-info .title{font-size:var(--fontsize18);font-weight:var(--fontbold6);color:var(--titlecolor);line-height:1.4}
.pro-list li .pro-info .text{font-size:var(--fontsize16);color:var(--introcolor);margin:10px 0px;line-height:1.4}
.pro-list li .pro-info .data-price{color:var(--color);font-weight:var(--fontbold6);font-size:var(--fontsize16)}
.pro-list.list1 li:hover .pro-info .data-price,.pro-list.list1 li:hover .pro-info .text,.pro-list.list1 li:hover .pro-info .title{color:#FFFFFF}
.pro-list li .pro-info .more{background:var(--color);color:#FFFFFF;min-width:140px;height:40px;padding:0px 15px;display:inline-flex;align-items:center;justify-content:center;border-radius:30px}
.pro-list li:hover .pro-img img{transform:scale(1.02)}
.pro-list li:hover .pro-img>a::after{opacity:1}
.pro-list.list1 li:hover .pro-info .more{background:#111111}
.pro-list.list1 li:hover{background:var(--color)}
.pro-list.list1 li{width:24%;margin-right:1.3%;position:relative;display:flex;flex-direction:column}
.pro-list.list1 li:nth-child(4n){margin-right:0px}
.pro-list.list1 li .pro-img{border-radius:var(--borderradius) 4px 0px 0px}
.pro-list.list1 li .pro-info{border-radius:0px 0px 4px 4px;padding:15px 20px 30px;text-align:center;align-items:center;flex:1}
.pro-list.list1 li .pro-info .more{position:absolute;bottom:-20px;left:50%;transform:translateX(-50%)}
.pro-list.list0{justify-content:space-between}
.pro-list.list0 li{width:49%;display:flex;justify-content:space-between;align-items:center;margin-bottom:3em;overflow:hidden;border:1px solid #EEEEEE}
.pro-list.list0 li .pro-img{width:42%}
.pro-list.list0 li .pro-info{flex:1;padding:20px 20px 20px 30px}
.pro-list.list0 li .pro-info .text{margin-bottom:20px}
.pro-list.list0 li .data-price{margin-bottom:15px}
.pro-list.list0 li:hover{border-color:var(--color)}
.pro-list.list0 li:hover .pro-info .title{color:var(--color)}
.common-page{display:flex;flex-wrap:wrap;justify-content:center}
.common-page a,.common-page span{min-width:45px;height:45px;padding:0px 10px;display:inline-flex;align-items:center;justify-content:center;background:#FFFFFF;border:1px solid #E0E0E0;margin:5px;transition:all .1s linear}
.common-page a.ctxt,.common-page span.ctxt{background:var(--color);border-color:var(--color);color:#FFFFFF}
.common-page a:hover{border-color:var(--color);color:var(--color)}
.prodetails-info .prodetails-btnlist{margin-top:30px;display:flex;flex-wrap:wrap}
.prodetails-info .prodetails-btnlist>*{min-width:180px;height:50px;padding:0px 15px;display:inline-flex;align-items:center;justify-content:center;border-radius:30px;background:#111111;color:#FFFFFF;border:1px solid #d0d0d0;text-transform:capitalize;transition:all .1s linear;font-size:var(--fontsize16);font-weight:var(--fontbold5);cursor:pointer;text-align:center;margin-right:15px;margin-bottom:10px}
.prodetails-info .prodetails-btnlist>:hover{background:var(--color);border-color:var(--color)}
.prodetails-info .prodetails-btnlist>:last-child{margin-right:0px}
.prodetails-info .prodetails-btnlist>* em{margin-right:5px}
.prodetails-info .prodetails-btnlist .addToCart.added{background:var(--color);border-color:var(--color)}
.imgalt{display:none}
.prodetails-name{font-size:var(--fontsize28);font-weight:var(--fontbold6);line-height:1.4}
.prodetails-price{display:flex;align-items:center;color:#d8d8d8;padding-bottom:10px}
.prodetails-price .price{margin-right:10px;color:var(--color);font-size:var(--fontsize22);font-weight:var(--fontbold5)}
.share-btn-list{margin-top:20px}
.prodetails-top{display:flex;flex-wrap:wrap;align-items:flex-start;justify-content:space-between}
.prodetails-info{flex:1;padding:30px 0px;padding-left:9%}
.prodetails-text{color:var(--introcolor)}
.prodetails-text ol,.prodetails-text ul{padding-left:18px}
.preview-container{width:40%;position:relative}
.preview-container .thumbnail-show{position:relative;display:flex;justify-content:center}
.preview-container .small-box{width:100%;aspect-ratio:var(--prosaspectratio);background:#FFFFFF;position:relative;box-shadow:0px 10px 40px 0 rgba(0,0,0,.1);display:flex;align-items:center;justify-content:center;overflow:hidden}
.preview-container .small-box:hover{cursor:crosshair}
.preview-container .small-box img{width:100%;height:100%;object-fit:contain}
.preview-container .big-box{display:none;border:1px solid #dfdfdf;border-left:none;width:100%;height:100%;position:absolute;left:100%;top:0px;overflow:hidden;z-index:999;background:#FFFFFF}
.preview-container .big-box img{display:block;max-width:none;max-height:none;width:150%}
.preview-container .big-box.act{display:none!important}
.small-box .hover{position:absolute;width:292px;height:292px;background-color:rgba(204,204,204,.6);border:1px solid #EEEEEE;display:none;cursor:move;z-index:9}
.preview-container #media{background:#EEEEEE;width:100%;aspect-ratio:var(--prosaspectratio);object-fit:contain;z-index:9}
.preview-container .thumbnail-box{position:relative;width:100%;padding:0px 30px;margin-top:15px}
.preview-container .thumbnail-box .list .swiper-wrapper{align-items:center}
.preview-container .thumbnail-box .item{overflow:inherit;display:flex;align-items:center;justify-content:center;cursor:pointer;transition:all .1s linear;position:relative;border:1px solid #EEEEEE;aspect-ratio:1/1}
.preview-container .thumbnail-box .item.item-cur{border-color:var(--color)}
.preview-container .thumbnail-box .item img{width:100%;height:100%;object-fit:cover}
.thumbnail-box .prodetails-button-next,.thumbnail-box .prodetails-button-prev{position:absolute;top:0px;left:0px;width:20px;height:100%;background:var(--color);color:#FFFFFF;display:flex;align-items:center;justify-content:center;cursor:pointer;transition:all .1s linear;z-index:9;border-radius:4px}
.thumbnail-box .prodetails-button-next em,.thumbnail-box .prodetails-button-prev em{font-size:var(--fontsize22)}
.thumbnail-box .prodetails-button-next.not,.thumbnail-box .prodetails-button-prev.not{background:#EEEEEE;color:#999999}
.thumbnail-box .prodetails-button-next:hover,.thumbnail-box .prodetails-button-prev:hover{opacity:.9}
.thumbnail-box .prodetails-button-next{left:auto;right:0px}
.banner-page{display:none}
.singglepic{width:40%;max-width:584px;max-height:584px;height:auto;text-align:center;overflow:hidden;margin:0px auto;display:flex;align-items:center;justify-content:center;border:solid 1px #F1F1F1}
.singglepic img{width:100%;height:100%;object-fit:contain}
.mediaplay{display:flex;align-items:center;justify-content:center;width:60px;height:60px;border:2px solid #FFFFFF;border-radius:50%;color:#FFFFFF;text-align:center;position:relative;transition:.5s;cursor:pointer;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);display:none;z-index:99}
.mediaplay em{font-size:36px;position:static;border:none;background:0 0;transform:none;width:auto;height:auto}
.mediaplay::after{content:"";display:block;position:absolute;left:-2px;right:-2px;bottom:-2px;top:-2px;border-radius:50%;border:3px solid;opacity:.8;border-color:transparent;border-right-color:var(--color);animation:runDot 2s infinite ease-in-out}
.mediaplay:hover{color:var(--color);background:rgba(255,255,255,.7)}
@keyframes runDot{0%{transform:rotate(0)}100%{transform:rotate(359deg)}}
.prodetails-content{margin-top:30px}
.prodetails-description{width:100%;display:flex;align-items:center;justify-content:flex-start;border-radius:5px;margin:50px 0px;position:relative;z-index:1}
.prodetails-description::after{content:"";position:absolute;left:0px;top:50%;transform:translateY(-50%);width:100%;height:50px;background:#F7F7F7;z-index:-1}
.prodetails-description .icon{background:var(--color);width:100px;height:60px;display:flex;align-items:center;justify-content:center;border-radius:5px;clip-path:polygon(0 0,100% 0,80% 100%,0 100%)}
.prodetails-description .icon em{color:#FFFFFF;font-size:var(--fontsize30);margin-left:-10px}
.prodetails-description span{font-weight:var(--fontbold6);font-size:var(--fontsize22);padding-left:10px}
.pro-maylink{padding-bottom:40px}
.pagelink{display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;padding:20px 0px;margin-top:30px;border-radius:var(--borderradius);overflow:hidden;background:#F7F7F7}
.pagelink .pagelink-item{width:50%;padding:0px 20px;display:flex;flex-direction:column;position:relative}
.pagelink .pagelink-item.prev{align-items:flex-start}
.pagelink .pagelink-item.prev::after{content:"";position:absolute;right:0px;top:50%;transform:translateY(-50%);width:1px;height:100%;background:#dedede}
.pagelink .pagelink-item.next{align-items:flex-end}
.pagelink .pagelink-item .icon{min-width:100px;height:36px;display:inline-flex;align-items:center;justify-content:center;background:#FFFFFF;border-radius:var(--borderradius);transition:all .1s linear}
.pagelink .pagelink-item:hover .icon{background:var(--color);color:#FFFFFF}
.pagelink .pagelink-item:hover .link{color:var(--color)}
.pagelink .pagelink-item .icon em{font-size:22px}
.pagelink .pagelink-item .link{margin-top:6px;font-size:var(--fontsize18);flex:1;transition:all .1s linear}
.prohome-content{clear:both;margin:0px auto;padding:10px 70px;max-width:1600px;line-height:1.6;box-sizing:border-box;border-radius:5px}
.prolist-bottom{clear:both;margin:0px auto;padding:10px 70px;max-width:1600px;line-height:1.6;box-sizing:border-box;border-radius:5px}
.prolist-bottom a{text-decoration:underline}
.prolist-bottom a:hover{color:var(--color)}
.pro-bottom{margin:0px auto;padding:0px}
.pro-bottom a{text-decoration:underline;text-transform:lowercase}
.pro-bottom a:active,.pro-bottom a:hover{color:var(--color)}
@media (max-width:1700px){.prohome-content,.prolist-bottom{max-width:1400px}}
@media (max-width:1500px){.prohome-content,.prolist-bottom{max-width:1200px}}
@media (max-width:1240px){.prohome-content,.prolist-bottom{max-width:98%}}
@media (max-width:768px){.prohome-content,.prolist-bottom{max-width:100%;margin-left:3vw;margin-right:3vw}}
@media (max-width:768px){.prohome-content{clear:both;line-height:1.6;padding:0px}
.prolist-bottom{clear:both;line-height:1.6;padding:0px}}
.prolist-content{clear:both;margin:0px auto 15px;line-height:1.6}
.protypefeedback{padding:3% 0;background:#f4f4f6}
.inquiry-title{font-size:var(--fontsize24);font-weight:var(--fontbold6);text-align:left;text-transform:capitalize;color:var(--fontcolor);margin-bottom:20px}
#maylinkswiper{padding:0px 0px 80px}
.maylink-list .swiper-slide{background:#F7F7F7;border-radius:var(--borderradius);height:auto;transition:all .2s linear;display:flex;flex-direction:column}
.maylink-list .swiper-slide:hover .pro-img img{transform:scale(1.02)}
.maylink-list .swiper-slide:hover .pro-img>a::after{opacity:1}
.maylink-list .swiper-slide:hover{background:var(--color)}
.maylink-list .swiper-slide:hover .pro-info .title{color:#FFFFFF}
.maylink-list .swiper-slide:hover .pro-info .more{background:#111111}
.maylink-list .swiper-slide .pro-img{width:100%;aspect-ratio:var(--prosaspectratio);position:relative;overflow:hidden;border-radius:var(--borderradius) 4px 0px 0px}
.maylink-list .swiper-slide .pro-img img{width:100%;height:100%;object-fit:cover;transition:all .1s linear}
.maylink-list .swiper-slide .pro-img>a{position:relative;display:flex;align-items:center;justify-content:center;width:100%;height:100%}
.maylink-list .swiper-slide .pro-img>a::after{content:"";position:absolute;left:0px;top:0px;width:100%;height:100%;background:rgba(0,0,0,.4);opacity:0;transition:all .1s linear}
.maylink-list .swiper-slide .pro-info{position:relative;text-align:center;padding:20px 20px 40px;line-height:1.6;border-radius:0px 0px 4px 4px;flex:1}
.maylink-list .swiper-slide .pro-info .title{font-size:var(--fontsize18);color:var(--titlecolor);font-weight:var(--fontbold6);transition:none}
.maylink-list .swiper-slide .pro-info .text{font-size:var(--fontsize16);color:var(--introcolor);margin:10px 0px}
.maylink-list .swiper-slide .pro-info .more{position:absolute;bottom:-20px;left:50%;transform:translateX(-50%);min-width:140px;height:40px;display:inline-flex;align-items:center;justify-content:center;padding:0px 15px;background:var(--color);color:#FFFFFF;border-radius:30px;transition:all .1s linear}
.maylinkswiper-pagination{display:flex;align-items:center;justify-content:center;position:absolute;bottom:0px}
.maylinkswiper-pagination .swiper-pagination-bullet{width:10px;height:10px;background:#333333;border-radius:50%;opacity:1}
.maylinkswiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background:var(--color)}
.newslist{display:flex;flex-wrap:wrap}
.newslist.list1 li{width:24%;margin-right:1.3%}
.newslist.list1 li:nth-child(4n){margin-right:0px}
.newslist.list1 li .info{padding:20px 15px}
.newslist.list1 li:hover{background:var(--color)}
.newslist.list1 li:hover .info *{color:#FFFFFF!important}
.newslist.list1 li:hover .info .more{background:#FFFFFF;color:var(--color)!important}
.newslist.list0{justify-content:space-between}
.newslist.list0 li{width:49%;display:flex;align-items:center}
.newslist.list0 li .img{width:42%}
.newslist.list0 li .info{flex:1;padding:20px 30px}
.newslist.list0 li .info .date{margin-bottom:5px}
.newslist.list0 li .info .title{font-size:var(--fontsize18)}
.newslist.list0 li:hover{border:1px solid var(--color)}
.newslist.list0 li:hover .info .title{color:var(--color)}
.newslist li{background:#F7F7F7;list-style:none;margin-bottom:2em;transition:all .2s linear;border:1px solid transparent;position:relative;border-radius:var(--borderradius);overflow:hidden}
.newslist li:hover .img img{transform:scale(1.02)}
.newslist li .img{aspect-ratio:var(--newssaspectratio)}
.newslist li .img img{width:100%;height:100%;object-fit:cover}
.newslist li .info{transition:all .2s linear;line-height:1.6}
.newslist li .info .title{color:var(--fontcolor);font-weight:var(--fontbold6);font-size:var(--fontsize18);line-height:1.4}
.newslist li .info .text{color:var(--introcolor);font-size:var(--fontsize16);line-height:1.4;margin:15px 0px 20px}
.newslist li .info .date{color:var(--introcolor);font-size:var(--fontsize16);margin-bottom:5px}
.newslist li .info .date em{font-size:inherit;margin-right:3px}
.newslist li .info .more{min-width:140px;height:40px;padding:0px 15px;display:inline-flex;align-items:center;justify-content:center;background:var(--color);color:#FFFFFF;border-radius:30px;transition:all .2s linear}
.newscontent-title{font-weight:var(--fontbold6);font-size:var(--fontsize28);text-align:center;line-height:1.2;margin-bottom:10px}
.newscontent-meta{display:flex;flex-wrap:wrap;align-items:center;justify-content:center;font-size:var(--fontsize16);color:var(--introcolor);padding:10px 0 30px}
.newscontent-meta>p{margin-right:20px}
.newscontent-meta>p:last-child{margin-right:0px}
.newscontent-meta .newsendinquiry{cursor:pointer}
.newscontent-details{margin-bottom:40px}
.pageproject .home-title p:nth-child(2){color:var(--color)}
.pageproject .pageproject-list{display:flex;flex-wrap:wrap;justify-content:space-between;margin-top:3%;list-style:none}
.pageproject .pageproject-list li{width:32%;margin-bottom:3em}
.pageproject .pageproject-list li .img{border-radius:10px}
.pageproject .pageproject-list li .info{display:flex}
.pageproject .pageproject-list li .info .box{width:100%;max-width:260px;background:#332f2c;border-radius:10px;padding:20px;margin-top:-60px;color:#FFFFFF;display:flex;flex-direction:column}
.pageproject .pageproject-list li .info .box .p1{font-size:var(--fontsize14)}
.pageproject .pageproject-list li .info .box .p2{font-size:20px;line-height:1.4;font-weight:var(--fontbold3);display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden}
.pageproject .pageproject-list li .info .more{min-width:110px;height:38px;padding:0px 15px;background:#faf6f1;border-radius:0px 0px 10px 0px;text-decoration:none;color:var(--fontcolor);display:inline-flex;align-items:center;justify-content:center}
.pageproject .pageproject-list li .info .more em{margin-right:5px}
.pageproject .pageproject-list li:hover .info .more{background:var(--color);color:#FFFFFF}
.project-list{list-style:none}
.project-wrap{display:flex;flex-wrap:wrap}
.project-wrap li{width:24%;margin-right:1.3%;margin-bottom:2em}
.project-wrap li:nth-child(4n){margin-right:0px}
.project-wrap li .project-img{aspect-ratio:3/2;border-radius:10px;border:1px solid #EEEEEE;overflow:hidden}
.project-wrap li .project-img img{width:100%;height:100%;object-fit:cover;transition:all .1s linear}
.project-wrap li .project-info{padding-top:10px}
.project-wrap li .project-name{font-size:var(--fontsize18);font-weight:var(--fontbold6);display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden}
.project-wrap li .project-content{margin-top:10px;font-size:var(--fontsize14);color:var(--introcolor);display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden}
.project-wrap li:hover .project-img img{transform:scale(1.02)}
.project-wrap li:hover .project-name{color:var(--color)}
.faqs-list li{width:100%;margin-bottom:15px;background:#FCFCFC;padding:15px}
.faqs-list .project-info.open .project-name{color:var(--color)}
.faqs-list .project-info .project-name{width:100%;position:relative;display:flex;align-items:center;cursor:pointer;color:var(--fontcolor);font-weight:var(--fontbold6);font-size:var(--fontsize18);padding-right:70px}
.faqs-list .project-info .project-name em{transition:all .1s linear;position:absolute;right:0px;top:0px;color:#FFFFFF;font-weight:var(--fontbold6);transform:rotate(-90deg);display:flex;align-items:center;justify-content:center;width:25px;height:25px;background:var(--color);border-radius:50%;font-size:var(--fontsize14)}
.faqs-list .project-info.open .project-name em{transform:rotate(0);background:var(--fontcolor)}
.faqs-list .project-info .project-content{display:none;padding-top:10px;position:relative;font-size:var(--fontsize16);z-index:1}
.download-list{display:flex;flex-wrap:wrap;list-style:none}
.download-list li{width:32%;margin-right:2%;margin-bottom:2em;position:relative;aspect-ratio:var(--prosaspectratio);border-radius:4px;overflow:hidden}
.download-list li::after{content:"";position:absolute;left:0px;top:0px;width:100%;height:100%;background:rgba(0,0,0,.4);z-index:1}
.download-list li:nth-child(3n){margin-right:0px}
.download-list li .download-img{width:100%;height:100%}
.download-list li .download-img img{width:100%;height:100%;object-fit:cover}
.download-list li .download-info{z-index:2;width:100%;position:absolute;text-align:center;left:0px;top:40%;font-size:var(--fontsize24);color:#FFFFFF;font-weight:var(--fontbold6);display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;overflow:hidden}
.download-list li .download-btn{z-index:2;margin-top:20px;position:absolute;left:50%;transform:translateX(-50%);top:50%;min-width:160px;height:45px;padding:0px 20px;display:inline-flex;align-items:center;justify-content:center;color:#FFFFFF;background:#111111;border-radius:30px;transition:all .2s linear}
.download-list li:hover .download-btn{background:var(--color)}
@media (max-width:1366px){.pageteam .list{margin-top:60px}
.prodetails-info{padding-top:0px;padding-left:30px}
.thumbnail-show .prodetails-button-prev{left:0px}
.prodetails-info .prodetails-btnlist>*{min-width:160px;height:45px;margin-right:7px}}
@media (max-width:1280px){.pageteam .list li{width:49%;margin-right:0px;margin-bottom:20px}
.page-hotnews .swiper-slide .info .title{font-size:20px}
.page-hotnews .swiper-slide .img{width:50%;border-radius:10px 0px 0px 10px}
.page-hotnews .swiper-slide .info .box{width:100%;position:static;transform:none;height:100%;padding:20px}}
.procate{display:flex;justify-content:space-between;flex-wrap:wrap;list-style:none;margin-top:30px}
.procate li{width:49%;margin-bottom:2em;background:#F4F4F4;border-radius:var(--borderradius);position:relative;overflow:hidden;transition:all .2s linear;display:flex}
.procate li .img{width:50%;aspect-ratio:var(--prosaspectratio);display:flex;position:relative}
.procate li .img img{width:100%;height:100%;object-fit:cover}
.procate li:hover .img img{transform:scale(1.02)}
.procate li .info{flex:1;padding:20px;line-height:1.6;display:flex;flex-direction:column;align-items:flex-start;justify-content:center}
.procate li .info .title{font-size:var(--fontsize20);font-weight:var(--fontbold6);line-height:1.4}
.procate li .info .text{font-size:var(--fontsize16);color:var(--introcolor);line-height:1.4;margin:10px 0px 20px}
.procate li .info .more{min-width:120px;height:40px;padding:0px 15px;border-radius:20px;color:var(--color);border:1px solid var(--color);display:inline-flex;align-items:center;justify-content:center}
.procate li:hover .info .title{color:var(--color)}
.procate li:hover .info .more{background:var(--color);color:#FFFFFF}
.custom-form{display:flex;flex-wrap:wrap}
.custom-form .sidebar{width:280px;margin-right:20px;background:#FAFAFA;padding:20px 20px}
.custom-form .page-container{flex:1}
.custom-form .sidebar-title{font-weight:var(--fontbold6);font-size:var(--fontsize18)}
@media (max-width:1024px){.custom-form .sidebar{width:100%;margin:0px 0px 20px;padding:20px}}
.singgle-main{overflow:hidden}
.news-nav li a.active{background:var(--color);color:#FFFFFF}
#filterlist .filterlist-ul{display:block;box-shadow:none;position:static}
#filterlist .filterlist-ul li{display:flex;align-items:center;margin:10px 0px 20px;line-height:1;cursor:pointer;user-select:none}
#filterlist .filterlist-ul li:nth-child(n+21){display:none}
#filterlist .filterlist-ul li.act{color:var(--color)}
#filterlist .filterlist-ul li.act .input::after{transform:translate(-50%,-50%) scale(1)}
#filterlist .filterlist-ul li .input{width:16px;height:16px;margin-right:10px;border:1px solid #666666;position:relative}
#filterlist .filterlist-ul li .input::after{content:"";position:absolute;left:50%;top:50%;transform:translate(-50%,-50%) scale(0);width:9px;height:9px;background:var(--color);transition:all .1s linear}
#filterlist .filterlist-ul li span{display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;overflow:hidden}
#filterlist .viewmore-filter{color:var(--color);text-transform:uppercase;cursor:pointer}
#filterlist .viewmore-filter:hover{text-decoration:underline}
@media (max-width:768px){#filterlist .product-left-title{background:0 0!important}}
.contactlist{display:flex;flex-wrap:wrap;list-style:none;justify-content:space-evenly}
.contactlist li{width:20%;text-align:center;line-height:1.4}
.contactlist li em{font-size:36px;color:var(--color)}
.contactlist li .p1{font-size:var(--fontsize22);font-weight:var(--fontbold6);margin:10px 0px 0px}
.contactlist li .p2{font-size:var(--fontsize18);color:var(--introcolor);margin-bottom:20px}
.contactbox{display:flex;flex-wrap:wrap;justify-content:space-between}
.contactbox .contactimg{width:30%}
.contactbox .contactimg img{width:100%;height:100%;object-fit:cover}
.contactbox .contactfeedback{flex:1;background:#F4F4F7;padding:3%}
.contactbox .contactfeedback .p1{font-weight:var(--fontbold6);font-size:var(--fontsize30);color:var(--color)}
.contactbox .contactfeedback .p1 span{color:var(--fontcolor)}
.contactbox .contactfeedback .p2{margin-bottom:20px}
.blogflex{display:flex;flex-wrap:wrap;align-items:flex-start;justify-content:space-between}
.blogflex-info{width:300px;display:flex;align-items:flex-start}
.blogflex-content{flex:1;padding-right:20px}
.blogflex-info .img{width:50px;height:50px;border-radius:50%;overflow:hidden;border:1px solid #EEEEEE}
.blogflex-info .img img{width:100%;height:100%;object-fit:cover}
.blogflex-info .info{flex:1;padding-left:10px}
.blogflex-info .info-name{font-size:18px;font-weight:600;margin-bottom:8px}
@media(max-width:1024px){.blogflex{flex:1}
.blogflex-info{width:100%;margin-top:20px}
.blogflex-content{width:100%;padding:0}}
.news-download{color:var(--color)}
.blogflex-info{display:flex;align-items:flex-start;margin-bottom:20px;background:#fafafa;padding:20px 15px}
.blogflex-info .img{width:60px;height:60px;border-radius:50%;border:1px solid #eee;overflow:hidden}
.blogflex-info .img img{width:100%;height:100%;object-fit:cover}
.blogflex-info .info{flex:1;padding-left:20px}
.blogflex-info .info-name{font-size:18px;font-weight:700;color:var(--color)}
.blogflex-info .email-subscription{color:#666}
.blogflex-info .info-content{line-height:1.4;color:#666;margin-top:5px;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:30;overflow:hidden}