@charset "utf-8";
@import url(../fonts/iconfont.css);
@import url(../swiper.css);
@import url(../../../css01.v15cdn.com/toastr.min.css);
@import url(../../../css01.v15cdn.com/language.css);
:root{--color:#AA875C;--hovercolor:#AA875C;--fontcolor:#222222;--titlecolor:#222222;--introcolor:#555555;--headercolor:#ffffff;--footercolor:#ffffff;--prosaspectratio:4/4;--newssaspectratio:4/3;--hometitlefont:34px;--fontsize12:12px;--fontsize13:13px;--fontsize14:14px;--fontsize15:15px;--fontsize16:16px;--fontsize17:17px;--fontsize18:18px;--fontsize20:20px;--fontsize22:22px;--fontsize24:24px;--fontsize26:26px;--fontsize28:28px;--fontsize30:30px;--fontsize32:32px;--fontsize34:34px;--fontsize36:36px;--fontsize40:40px;--fontsize45:45px;--fontbold3:300;--fontbold4:400;--fontbold5:500;--fontbold6:600;--fontbold7:700;--fontbold8:800;--fontbold9:900;--borderradius:6px;--fontfamily:"Titillium Web","Lato","Open Sans","Roboto","Poppins","Oswald","Noto Sans","Montserrat",sans-serif}
@media (max-width:1440px){:root{--hometitlefont:30px}}
@media (max-width:1024px){:root{--hometitlefont:26px}}
*,html,body,h1,h2,h3,h4,h5,h6,table,th,td,ul,li,dl,dt,dd,div,p{padding:0px;margin:0px;box-sizing:border-box}
html{-webkit-text-size-adjust:none;-webkit-tap-highlight-color:transparent;background:#E5E5E5;overflow-x:hidden}
body{margin:0px auto;padding:0px;max-width:2560px;color:var(--fontcolor);font-size:var(--fontsize16);line-height:1.8;background:#FFFFFF;overflow-x:hidden;font-family:var(--fontfamily)}
ul,ol,li{list-style:none}
@media (min-width:1025px){
::-webkit-scrollbar{width:10px;height:4px}
::-webkit-scrollbar-track{background:#FFFFFF;border-radius:0px}
::-webkit-scrollbar-thumb{background:#CCCCCC;border-radius:5px;transition:all .1s linear}
::-webkit-scrollbar-thumb:hover{background:#BDBBBB}}
img.lazy{display:inline-block;opacity:0}
img.lazy,img.tst{transition:opacity .6s,transform .3s ease}
img.loaded{opacity:1}
img:not([src]){visibility:hidden;position:absolute}
.lazy-load{position:absolute;left:50%;top:50%;width:30px;height:30px;transform:translate(-50%,-50%);border:2px solid #000000;border-top-color:rgba(0,0,0,.2);border-right-color:rgba(0,0,0,.2);border-bottom-color:rgba(0,0,0,.2);border-radius:100%;animation:circle infinite 1s linear}
@keyframes circle{0%{transform:translate(-50%,-50%) rotate(0)}
100%{transform:translate(-50%,-50%) rotate(360deg)}}
.lazy-wrap{display:block;position:relative;overflow:hidden}
.lazy-wrap::after{content:"";display:block;padding-bottom:50%}
.lazy-wrap.lazy-loaded .lazy-load{-webkit-animation:none;animation:none;display:none}
.lazy-wrap.lazy-loaded::after{padding-bottom:0px}
img{vertical-align:bottom;max-width:100%;height:auto}
a{text-decoration:none;color:inherit;transition:all .1s linear}
iframe,video{max-width:100%;outline:0;border:none;vertical-align:bottom;min-height:240px}
@media (max-width:768px){iframe,video{width:100%}}
.hidden{overflow:hidden}
.l-wrap{width:100%;max-width:1600px;padding:0px 70px;margin:0px auto}
.line1{display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;overflow:hidden}
.line2{display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden}
.line3{display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;overflow:hidden}
.line4{display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:4;overflow:hidden}
.line5{display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:5;overflow:hidden}
.home-icon{color:var(--color);text-align:center;text-transform:uppercase;margin-bottom:10px}
.home-title{font-size:var(--hometitlefont);font-weight:var(--fontbold6);text-align:center;text-transform:capitalize;line-height:1.4}
.home-des{font-size:var(--fontsize16);color:#565656;text-align:center;max-width:1000px;margin:10px auto 0px}
.home-more{min-width:200px;padding:0px 20px;height:50px;border-radius:30px;border:1px solid var(--color);color:#FFFFFF;background:var(--color);text-transform:capitalize;display:inline-flex;align-items:center;justify-content:center;transition:all .1s linear;font-size:var(--fontsize18);position:relative}
.home-more:hover{color:#FFFFFF;background:#111111;border-color:#111111}
.home-more em{margin-right:10px}
header{position:fixed;top:0px;left:50%;transform:translateX(-50%);width:100%;z-index:9999;transition:all .1s linear}
.head-top{height:40px;transition:all .1s linear;position:relative}
.head-top .l-wrap{height:100%;display:flex;align-items:center;justify-content:space-between}
.head-left{display:flex;align-items:center;color:var(--headercolor)}
.head-left .item{display:inline-flex;align-items:center}
.head-left .item:last-child{margin-left:20px}
.head-left .item em{margin-right:5px}
.head-left .item a:hover{text-decoration:underline}
.head-top .head-right{display:flex;flex-wrap:wrap;align-items:center}
.head-top .head-right .head-share{margin-right:10px}
.head-top .head-right .head-share ul{list-style:none;display:flex;align-items:center;transition:all .1s linear}
.head-info{height:80px;transition:all .1s linear}
.head-info .l-wrap{height:100%;display:flex;align-items:center;justify-content:space-between}
.head-info .m-menu{display:none}
.head-logo a{display:flex;align-items:center;justify-content:flex-start}
.head-logo a img{width:auto;max-height:60px}
.head-logo a .himg{display:block}
.head-logo a .fimg{display:none}
.head-logo a:hover{animation:logotran 0.6s forwards}
@keyframes logotran {
0%{transform:scale(1)}
30%{transform:scale(1.04)}
100%{transform:scale(1)}}
header.is-active .himg{display:none}
header.is-active .fimg{display:block}
.head-nav{display:flex;align-items:center;height:100%}
.head-nav .nav-ul{height:100%;display:flex;align-items:center;list-style:none;padding:0px}
.head-nav .nav-ul>li{height:100%;position:relative}
.head-nav .nav-ul>li>a{font-size:var(--fontsize18);color:var(--headercolor);text-transform:capitalize;margin:0px 20px;height:100%;display:flex;align-items:center;justify-content:center;position:relative;white-space:nowrap}
.head-nav .nav-ul>li>a em{margin-left:5px;font-size:var(--fontsize14);font-weight:var(--fontbold5)}
.head-nav .nav-ul>li>a::before{content:"";width:0px;height:2px;background:var(--color);position:absolute;bottom:0px;left:0px;transition:all .2s linear}
.head-nav .nav-ul>li:hover>a{color:var(--color)!important}
.head-nav .nav-ul>li>a.inmenu_1{color:var(--color)!important}
.head-nav .nav-ul>li:hover>a::before,.head-nav .nav-ul>li>a.inmenu_1::before{width:100%}
.head-nav .nav-ul>li>ul{position:absolute;left:0px;top:100%;background:#FFFFFF;min-width:160px;margin:0px;box-shadow:1px 2px 10px rgba(0,0,0,.1);white-space:nowrap}
.head-nav .nav-ul>li>ul li{position:relative}
.head-nav .nav-ul>li>ul li:hover>a,.head-nav .nav-ul>li>ul li:hover>em{color:var(--color)}
.head-nav .nav-ul>li>ul a{padding:0px 10px;height:45px;line-height:45px;color:var(--fontcolor);padding-right:30px;text-align:left;transition:all .1s linear;display:flex;align-items:center;justify-content:flex-start;font-size:var(--fontsize16)}
.head-nav .nav-ul>li>ul a+em{position:absolute;right:10px;top:50%;transform:translateY(-50%)}
.head-nav .nav-ul>li>ul ul{position:absolute;left:100%;top:0px;background:#FFFFFF;min-width:220px;margin:0px;box-shadow:1px 2px 10px rgba(0,0,0,.1)}
.head-nav .nav-ul ul{list-style:none;padding:0px}
@media(min-width:1025px){
#liinquiry{display:flex;align-items:center}
#liinquiry a{background:var(--color);height:40px;padding:0px 15px;border-radius:30px;color:#fff!important;transition:all .1s linear;text-decoration:none}
#liinquiry a:hover{opacity:.9}
#liinquiry a::before{display:none}}
.head-nav .search-box{height:100%;position:relative}
.head-nav .search-box .head-search{height:100%;display:inline-flex;align-items:center}
.head-nav .search-box .head-search button{outline:0;border:none;cursor:pointer;background:0 0;border-radius:var(--borderradius);margin-left:10px;width:36px;height:36px;background:var(--color)}
.head-nav .search-box .head-search button em{font-weight:var(--fontbold6);font-size:var(--fontsize22);color:#FFFFFF}
.head-nav .search-input{position:absolute;top:20px;right:45px;background:#000000;color:#FFFFFF;display:flex;align-items:center;justify-content:center;box-shadow:2px 2px 4px rgba(0,0,0,.2);opacity:0;transform:rotateX(90deg);visibility:hidden}
.head-nav .search-input.active{transition:opacity .3s,transform .3s;visibility:visible;opacity:1;transform:rotateX(0);transform-origin:top}
.head-nav .search-input input{width:200px;height:40px;padding-left:10px;font-size:var(--fontsize16);border:none;background:0 0;color:#FFFFFF;outline:0}
.head-nav .search-input button{width:40px;height:40px;border:none;outline:0;display:inline-flex;align-items:center;justify-content:center;cursor:pointer;background:#333333;transition:all .1s linear}
.head-nav .search-input button em{font-size:22px;color:var(--color);font-weight:var(--fontbold6)}
@media (min-width:1025px){.nav-ul>li:hover .submenu{transform:scaleY(1);opacity:1}
.nav-ul>li .submenu{transform-origin:top;transform:scaleY(0);opacity:0;transition:all .3s ease-in-out}
.nav-ul>li .submenu li:hover ul{transform:scaleY(1);opacity:1}
.nav-ul>li .submenu li ul{transform-origin:top;transform:scaleY(0);opacity:0;transition:all .3s ease-in-out}}
header.is-active .head-top{height:0px;opacity:0}
header.is-active .head-info{height:75px;background:#FFFFFF;box-shadow:1px 5px 10px rgba(0,0,0,.1)}
header.is-active .head-info .head-nav .nav-ul>li>a{color:var(--fontcolor)}
footer{background-color:var(--hovercolor);background-image:url(https://css02.v15cdn.com/m433/imgs/foot-bg.svg);color:var(--footercolor)}
footer .foot-main{padding:3% 0px}
.foot-qrimg img{max-width:100px;height:auto}
footer a{color:var(--footercolor);transition:all .1s linear}
footer a:hover{text-decoration:underline}
footer .foot-logo img{max-height:60px}
footer .foot-title{font-weight:var(--fontbold6);font-size:var(--fontsize24);color:var(--footercolor);margin-bottom:10px}
footer .foot-item{width:20%}
footer .foot-cate{width:16%}
footer .foot-list{list-style:none}
footer .foot-list li{margin-bottom:4px}
footer .foot-nav .foot-list{display:flex;flex-wrap:wrap;justify-content:space-between}
footer .foot-nav .foot-list li{width:49%}
footer .foot-link li{display:flex}
footer .foot-link li p{padding-left:10px}
footer .foot-share{margin-top:15px}
footer .foot-share ul{display:flex;flex-wrap:wrap;list-style:none}
footer .foot-share ul li{margin-right:10px;margin-bottom:10px}
footer .foot-share ul li a{width:35px;height:35px;background:#0000008C;border-radius:var(--borderradius);display:inline-flex;align-items:center;justify-content:center;color:#FFFFFF;text-decoration:none;transition:all .2s linear}
footer .foot-share ul li a:hover{transform:translateY(-4px)}
.foot-main .l-wrap{display:flex;flex-wrap:wrap;justify-content:space-between}
footer .foot-info .foot-text{max-width:520px;margin-bottom:15px}
footer .copyright{padding:10px 15px;font-size:15px;text-align:center;position:relative;z-index:1}
footer .copyright::before{content:"";position:absolute;left:0px;top:0px;width:100%;height:100%;background:rgba(0,0,0,.05);z-index:-1}
footer .copyright a{margin-left:5px}
.rfixed{position:fixed;bottom:calc(150px + constant(safe-area-inset-bottom));bottom:calc(150px + env(safe-area-inset-bottom));right:50px;z-index:99}
.compare-panel{width:280px;background:#FFFFFF;position:fixed;z-index:1000;bottom:0px;right:0px;box-shadow:-1px -1px 3px #CCCCCC;display:none;transition:bottom .2s}
.compare-t{background-color:var(--color);font-size:var(--fontsize14);color:#FFFFFF;display:flex;align-items:center;padding:10px;cursor:pointer}
.compare-close{position:relative;width:24px;height:24px;background:0 0;cursor:pointer;border:none}
.compare-close::after,.compare-close::before{content:"";display:block;width:10px;height:2px;background-color:#FFFFFF;position:absolute;top:50%;border-radius:2px}
.compare-close::before{transform:rotate(45deg);left:4px}
.compare-close::after{transform:rotate(-45deg);right:4px}
.compare-tit{text-align:center;flex:1;line-height:1.5}
.compare-checked{color:#FFFFFF;margin:0px 4px}
#productChache_list{padding:0px 10px;height:220px;overflow-y:auto}
#productChache_list::-webkit-scrollbar{width:4px}
#productChache_list::-webkit-scrollbar-track{border-radius:0px;background-color:rgba(0,0,0,.05)}
#productChache_list::-webkit-scrollbar-thumb{border-radius:var(--borderradius);background-color:rgba(0,0,0,.15)}
.selected-item{position:relative;border-bottom:1px solid #EFEFEF;padding:10px 0px;display:flex;align-items:center}
.item-clear{position:relative;width:20px;height:20px;background-color:transparent;cursor:pointer;outline:0;border:none}
.item-clear::after,.item-clear::before{content:"";display:block;position:absolute;width:70%;height:2px;background-color:#333333;border-radius:2px;top:50%;margin-top:-1px}
.item-clear::before{transform:rotate(45deg);left:3px}
.item-clear::after{transform:rotate(-45deg);left:3px}
.item-content{flex:1;display:flex;align-items:center}
.item-img{width:50px;height:50px;background:#FFFFFF;border:1px solid #EFEFEF;display:flex;align-items:center;justify-content:center}
.item-img img{max-width:100%;max-height:100%}
.item-c{width:calc(100% - 50px);padding:0px 10px;font-size:var(--fontsize12)}
.item-title{max-height:34px;word-break:break-word;display:block;display:-webkit-box;text-overflow:ellipsis;overflow:hidden;-webkit-line-clamp:2;-webkit-box-orient:vertical;line-height:1.3;color:var(--fontcolor)}
.item-price{color:var(--color)}
.compare-b{padding:20px 10px;display:flex;justify-content:space-between}
.compare-b *{display:block;width:80px;text-align:center;font-size:var(--fontsize12);white-space:nowrap;overflow:hidden;text-overflow:ellipsis;line-height:30px;border-radius:2px;padding:0px 2px}
.clear-all{color:var(--fontcolor);background-color:#EDEDED;cursor:pointer;border:none}
.compare-inquire,.compare-inquire:hover{color:#FFFFFF;background-color:var(--color)}
.compare-b .orderNow{margin:0px;background:#F66F08;color:#FFFFFF;line-height:30px;padding:0px 2px;border:none;border-radius:2px;font-size:var(--fontsize12);cursor:pointer;display:block;width:80px}
.rfixed-sc{width:40px;height:40px;background:var(--color);border-radius:50%;text-align:center;line-height:50px;color:#FFFFFF;position:relative;margin-bottom:10px;cursor:pointer;display:none}
.rfixed-sc em{font-size:20px}
.rfixed-scnum{position:absolute;right:6px;top:4px;width:16px;height:16px;background:#D4322C;border-radius:50%;text-align:center;font-size:var(--fontsize12);color:#FFFFFF;transform:scale(.9);line-height:16px}
@media (max-width:768px){.compare-panel{width:100%;bottom:55px}
.rfixed-scnum{right:26px}}
.lang{z-index:99999;text-align:left;position:relative}
.lang-icon{display:flex;align-items:center;height:30px;border:none;cursor:pointer;font-size:var(--fontsize16);user-select:none;white-space:nowrap}
.lang-icon img{width:20px}
.lang-icon span{position:relative;padding-right:18px;color:var(--headercolor);margin-left:6px;font-size:var(--fontsize14);}
.lang-icon span::before{content:"";position:absolute;right:4px;top:13px;width:8px;height:1px;background:var(--headercolor);transform:rotate(50deg)}
.lang-icon span::after{content:"";position:absolute;right:0px;top:13px;width:8px;height:1px;background:var(--headercolor);transform:rotate(-50deg)}
.lang-drop{position:absolute;top:calc(100% + 26px);right:50%;transform:translateX(50%);background:#FFFFFF;border:1px solid #EBEEF5;border-radius:var(--borderradius);box-shadow:0px 2px 12px 0px rgba(0,0,0,.1);z-index:9999;visibility:hidden;opacity:0;transition:opacity .3s,top .3s}
.lang-drop.lang-flex{transform:translateX(20%)}
.lang-drop.active{visibility:visible;opacity:1;top:calc(100% + 7px)}
.lang-arrow{display:block;width:10px;height:10px;background-color:#FFFFFF;border-top:1px solid #EBEEF5;border-left:1px solid #EBEEF5;transform:translateX(-50%) rotate(45deg);position:absolute;top:-6px;left:50%}
.lang-drop.lang-flex .lang-arrow{left:79%}
.lang-wrap{list-style:none;width:140px;padding:8px 0px;box-sizing:border-box}
.lang-flex .lang-wrap{display:flex;flex-wrap:wrap;padding:8px}
.lang-wrap li{width:100%;box-sizing:border-box;transition:background-color .3s}
.lang-flex .lang-wrap li{width:33.3333%}
.lang-wrap li.lang-active,.lang-wrap li:hover{background-color:#EEEEEE}
.lang-wrap li a{display:block;color:var(--fontcolor);font-size:var(--fontsize12);padding:10px 12px;text-decoration:none;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.lang-wrap li img{display:inline-block;width:24px;height:16px;vertical-align:-.25em;margin-right:4px}
@media (max-width:1024px){.lang{transition:all .2s linear}
.lang-icon img{width:28px;filter:invert(90%)}
.lang-icon span{display:none}
.lang-drop{display:none}
.lang-drop.lang-flex{position:fixed;width:95%;right:auto;left:50%;transform:translateX(-50%)}
.lang-drop.lang-flex .lang-arrow{left:84%}
.lang-drop.lang-flex .lang-wrap{width:100%}
.lang-drop.active{display:block;top:calc(100% + 3px)}}
.head-share ul a{width:30px;height:30px;color:var(--headercolor);border-radius:50%;display:flex;align-items:center;justify-content:center;margin-right:10px;text-decoration:none;transition:all .1s linear}
.head-share ul a:hover{color:var(--color)}
.gotop{cursor:pointer;height:40px;width:40px;border-radius:50%;background:#FFFFFF;box-shadow:0px 5px 5px 0px rgba(0,0,0,.1);transition:all .4s ease;z-index:1;opacity:0;visibility:hidden;overflow:hidden;transform:translateY(20px);display:flex;align-items:center;justify-content:center;font-weight:var(--fontbold6)}
.gotop.active{opacity:1;visibility:inherit;overflow:inherit;transform:translateY(0)}
.gotop em,.gotop i{transform:rotate(180deg);color:var(--fontcolor)}
.gotop:hover{background:#c1c1c1}
.bottom-btn{display:none}
@media (max-width:1440px){.head-nav .nav-ul>li>a{margin:0px 15px;font-size:var(--fontsize16)}}
@media (max-width:1280px){.head-nav .nav-ul>li>a{margin:0px 10px}}
@media (max-width:1024px){
body{padding-top:0px}
.head-logo .himg{display:none!important}
.head-logo .fimg{display:block!important}
header .head-top{display:none}
header{background:#FFFFFF!important;box-shadow:1px 2px 5px rgba(0,0,0,.2);position:relative}
header .head-info{height:70px!important}
.l-wrap{padding:0px 10px}
.head-nav{position:fixed;top:70px;right:0px;width:100%;height:calc(100vh - 70px);background:#FFFFFF;flex-direction:column;padding-bottom:100px;overflow-y:auto;display:none}
.head-nav .nav-ul{width:100%;flex-direction:column;height:auto;flex:1}
.head-nav .nav-ul>li{height:auto;width:100%}
.head-nav .nav-ul>li.cur{background:#FAFAFA}
.head-nav .nav-ul>li.cur .icon-arrow-down{transform:rotate(0)}
.head-nav .nav-ul>li .icon-arrow-down{position:absolute;right:10px;top:2px;font-weight:var(--fontbold3);width:40px;height:40px;display:inline-flex;align-items:center;justify-content:center;transition:all .1s linear;transform:rotate(-90deg);font-size:20px}
.head-nav .nav-ul>li>a{height:auto;padding:10px 20px;margin:0px;justify-content:flex-start;color:var(--fontcolor)}
.head-nav .nav-ul>li:hover>a{background:0 0;color:inherit!important}
.head-nav .nav-ul>li>ul{position:static;box-shadow:none;max-width:100%;background:#FAFAFA;display:none;padding:0px 30px}
.head-nav .nav-ul>li>ul a{color:var(--fontcolor);font-size:var(--fontsize16);display:inline-block;line-height:inherit;height:auto;padding:10px 0px}
.head-nav .nav-ul>li:hover>a::before,.head-nav .nav-ul>li>a.inmenu_1::before{display:none}
.head-nav .nav-ul>li>ul li:hover>a,.head-nav .nav-ul>li>ul li:hover>em{background:0 0;color:inherit}
.head-nav .nav-ul>li>ul .icon-arrow-down{display:none}
.head-nav .nav-ul>li>ul ul{position:static;display:block;background:0 0;box-shadow:none;padding:0px 20px}
.head-nav .search-box{width:100%;height:auto}
.head-nav .search-box .head-search{display:none}
.head-nav .search-input{position:static;opacity:1;transform:none;visibility:inherit;width:100%;box-shadow:none;padding:4px 10px;background:#FFFFFF}
.head-nav .search-input input{flex:1;border:1px solid #EEEEEE}
.head-nav .search-input input:focus{border-color:var(--color)}
.head-nav .search-input button{background:#EEEEEE}
.head-lang{margin-left:auto;margin-right:20px}
.head-info .m-menu{display:block;position:relative;width:26px;height:40px;cursor:pointer;margin-right:5px}
.m-menu span{position:absolute;background:#111111;height:2px;width:100%;border-radius:var(--borderradius);left:0px;transition:all .2s linear}
.m-menu span:nth-child(1){top:25%}
.m-menu span:nth-child(2){top:48%}
.m-menu span:nth-child(3){top:73%}
.m-menu.act span{top:48%}
.m-menu.act span:nth-child(1){transform:rotate(45deg)}
.m-menu.act span:nth-child(2){width:0px}
.m-menu.act span:nth-child(3){transform:rotate(-45deg)}
.home-more{min-width:160px;height:45px}
.head-left{width:100%;flex-direction:column;align-items:flex-start;padding:10px 20px;color:var(--fontcolor);font-size:var(--fontsize16)}
.head-left .item{margin-bottom:10px}
.head-left .item{margin-left:0px!important}
footer .foot-main{padding:30px 0px}
footer .foot-item{width:49%!important}
footer .foot-item:nth-child(n+3){margin-top:20px}}
@media (max-width:768px){.rfixed{display:none}
header .head-info{height:60px!important}
.head-logo a img{max-height:45px}
.head-nav{top:59px;height:calc(100vh - 59px)}
.home-more{min-width:160px;height:45px}
.icon-videoplay{width:30px;height:30px}
.home-des{margin-top:0px}
.home-more{height:45px;min-width:160px}
footer .foot-item{width:100%!important}
footer{margin-bottom:calc(55px + constant(safe-area-inset-bottom));margin-bottom:calc(55px + env(safe-area-inset-bottom))}
.bottom-btn{background:#FBFBFB;display:flex;align-items:center;position:fixed;bottom:0px;left:0px;width:100%;z-index:999;box-shadow:1px 2px 10px rgba(0,0,0,.2);transform:translateY(60px);opacity:0;transition:all .2s linear;padding-bottom:constant(safe-area-inset-bottom);padding-bottom:env(safe-area-inset-bottom);opacity:1}
.bottom-btn.bottom-btn-hide{transform:translateY(0)!important;opacity:1}
.bottom-btn.bottom-btn-keep{transform:translateY(0)!important;opacity:1}
.bottom-btn.bottom-btn-menu{transform:translateY(60px)!important;opacity:0}
.bottom-btn .btn-item{width:20%;height:55px;transition:all .2s linear;position:relative}
.bottom-btn .btn-item.gotop{opacity:1;visibility:inherit;overflow:inherit;transform:none;border-radius:0px;box-shadow:none;background:0 0}
.bottom-btn .btn-item.gotop em{background:var(--color);color:#FFFFFF;width:30px;height:30px;display:inline-flex;align-items:center;justify-content:center;border-radius:5px;font-size:var(--fontsize16)}
.bottom-btn .btn-item.gotop:hover{background:0 0}
.bottom-btn .btn-item em,.bottom-btn .btn-item i{font-size:20px;line-height:1}
.bottom-btn .btn-item a,.bottom-btn .btn-item div{width:100%;height:100%;display:flex;flex-direction:column;align-items:center;justify-content:center;color:var(--fontcolor);text-transform:capitalize}
.bottom-btn .btn-item a p,.bottom-btn .btn-item div{font-size:var(--fontsize12);text-transform:capitalize;line-height:1;padding-top:2px}
.mobile-bottom-bag{display:none}
.foot-item.foot-info{display:none}}
@media (min-width:1025px){
#liproducts .nav0.nav15,#liproducts .nav1.nav15{display:flex;flex-wrap:wrap;width:500px}
#liproducts .nav0.nav15>li,#liproducts .nav1.nav15>li{width:50%}
#liproducts .nav2{display:flex;flex-wrap:wrap;width:100%;position:fixed;left:0px;justify-content:center}
#liproducts .nav2>li{width:12%;margin:1em 20px;text-align:center}
#liproducts .nav2>li .item-info a{height:auto}
#liproducts .nav2>li a{padding:0px;background:0 0!important}
#liproducts .nav3{display:flex;flex-wrap:wrap;width:100%;position:fixed;left:0px;justify-content:center}
#liproducts .nav3>li{width:12%;margin:1em 20px;text-align:center}
#liproducts .nav3>li .cate-img a{height:auto}
#liproducts .nav3>li a{padding:0px;background:0 0!important}
#liproducts .nav3>li ul{display:block;position:static;box-shadow:none}
#liproducts .nav3>li ul li{width:100%}}
@media (max-width:1024px){#liproducts .nav2 .item-info,#liproducts .nav3 .cate-img{display:none}}
.search-input.advanced{flex-wrap: wrap;justify-content: flex-start;width: 240px;}
.search-input.advanced input{border-bottom:1px solid #F0F0F0}
.search-input.advanced .advanced-search{margin-left:10px;color:var(--color);font-size:12px;text-decoration:underline}
@media (max-width:1024px){
.search-input.advanced{width:100%;}
.search-input.advanced .advanced-search{width:100%;}}